// Import all scss ecampus files
@import "extras/transitions";
@import "extras/simple-line-icons";
@import "extras/uicons-regular-rounded";
@import "extras/uicons-regular-rounded-svg";
@import "extras/animate";
@import "extras/metismenu";
@import "extras/progress";
@import "extras/opendyslexic";
@import "ecampus/general";
@import "ecampus/navbar";
@import "ecampus/blocks";
@import "ecampus/nav-drawer";
@import "ecampus/breadcrumb";
@import "ecampus/frontpage";
@import "ecampus/login";
@import "ecampus/register";
@import "ecampus/footer";
@import "ecampus/mydashboard";
@import "ecampus/course";
@import "ecampus/mypublic";
@import "ecampus/grade";
@import "ecampus/btnapp";
@import "ecampus/calendar";
@import "ecampus/enrol";
@import "ecampus/responsive";
@import "ecampus/accessibilitybar";
@import "ecampus/mixins/accessibilityfontsize";
@import "ecampus/accessibilitystyles";

@import "ecampus/accesibilitybutton";
@import "ecampus/header.scss";
@import "ecampus/flat_navigation.scss";

.modal-backdrop.show {
    display: none;
}

.modal-content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: center;
        text-align: center;
        background-color: #222325;
        color: #fff;
        padding: 1.5rem;
        border-radius: 1em;

  }
