// Import all scss moove files
@import "extras/transitions";
@import "extras/simple-line-icons";
@import "extras/animate";
@import "extras/metismenu";
@import "extras/progress";
@import "extras/opendyslexic";
@import "moove/general";
@import "moove/navbar";
@import "moove/blocks";
@import "moove/nav-drawer";
@import "moove/breadcrumb";
@import "moove/frontpage";
@import "moove/login";
@import "moove/register";
@import "moove/footer";
@import "moove/mydashboard";
@import "moove/course";
@import "moove/mypublic";
@import "moove/grade";
@import "moove/btnapp";
@import "moove/calendar";
@import "moove/enrol";
@import "moove/responsive";
@import "moove/accessibilitybar";
@import "moove/mixins/accessibilityfontsize";
@import "moove/accessibilitystyles";

@import "moove/accesibilitybutton";
@import "moove/header.scss";
@import "moove/flat_navigation.scss";


.conversationcontainer{
    flex: 0 0 100%;
	max-width: 100%;
}

.flex-column{
    flex: 0 100 100%;
	max-width: 100%;
}

.modal-backdrop.show {
    display: none;
}

.modal-content {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: center;
        text-align: center;
        background-color: #222325;
        color: #fff;
        padding: 1.5rem;
        border-radius: 1em;

  }
  