#accessibilitybar {
    display: none;
    padding: .2rem;
    height: 30px;
    

    

    .bars {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        margin-left: auto;

        border: double;
        background-color: #272c33;
        color: white;
        padding: 2rem;

        .fontsize,
        

        .fontsize {
            margin-left: auto;
            margin-right: .5rem;
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            display: flex;

            li {
                display: list-item;
                text-align: -webkit-match-parent;
                margin-left: .5rem;

                .btn {
                    padding: .5rem;
                    border-radius: 0px;
                    color: white;
                    cursor: pointer;
                }
            }
        }

        .lang-menu{
            width: fit-content;
            align-self: flex-end !important;
            height: fit-content;

            .dropdown {
                height: fit-content;
                .dropdown-toggle{
                    height: 2rem;
                    width: 2rem;
                }
            }

            .slicon-globe{
                display: inherit;
            }
        }

        .sitecolor {
            display: flex;
            border: #000000;
            li {
                border: inset;
                margin: 0;
            }
        }

        #sitecolor_color2 {
            background-color: #ffffcc;
            color: #272c33;
        }

        #sitecolor_color3 {
            background-color: #99ccff;
            color: #272c33;
        }

        #sitecolor_color4 {
            color: #ffff00;
            background-color: #000000;
        }
    }
}

body.hasaccessibilitybar:not(.notloggedin) {
    nav.navbar {
        top: 0px;
    }

    #page {
        margin-top: 70px;
    }

    [data-region="blocks-column"],
    [data-region=right-hand-drawer].drawer {
        top: 70px;
    }

    #nav-drawer {
        top: 70px;
    }
}

body.hasaccessibilitybar {
    #accessibilitybar {
        display: flex;
        position: fixed;
        margin-top: calc(#{$navbar-height});;
    }

    #nav-drawer {
        height: calc(100% - #{$navbar-height} - 80px);
    }

    .message-app .footer-container {
        top: 0px;
    }
}
