#page-my-index {
    .admininfos {
        padding-bottom: 0;

        .breadcrumb-button {
            margin-right: 0 !important;
        }
    }

    .bg-1 {
        background-color: #1e88e5;
    }

    .bg-2 {
        background-color: #7460ee;
    }

    .bg-3 {
        background-color: #26c6da;
    }

    .bg-4 {
        background-color: #2f3d4a;
    }

    .small-box {
        border-radius: $card-border-radius;
        position: relative;
        display: block;
        margin-bottom: 20px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    .small-box > .inner {
        padding: 10px;
    }

    .small-box h3,
    .small-box p {
        z-index: 5;
        color: #fff;
    }

    .small-box h3 {
        margin: 0 0 10px 0;
        white-space: nowrap;
        padding: 0;
    }

    .small-box .icon {
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
        position: absolute;
        top: 0;
        right: 40px;
        z-index: 0;
        font-size: 48px;
        color: rgba(0, 0, 0, 0.15);
    }

    .progress-chart-container .no-progress {
        background-color: $brand-primary;

        .fa {
            color: #fff;
            font-size: 42px;
            padding: 14px 8px;
        }
    }

    #region-main-box #region-main {
        .card:not([class*="dashboard-card"]) {
            border-top: solid 2px $brand-primary;
        }

        .card.mymaincontent {
            border: none;
            background-color: initial;

            > .card-body {
                padding: 0;
            }
        }

        .block .block-cards .progress {
            margin-left: 0;
        }
    }
}

.card.mymaincontent {
    border: none;
    margin: 1em;
}


.conversationcontainer,.conversationcontainer + .flex-column {
    flex: 0 0 100%;
    max-width: 100%;
}

.card.mymaincontent, #page-header, #page-content{
    margin: 1em 0;
}

@media (min-width: 768px){
    .conversationcontainer,.conversationcontainer + .flex-column{
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .card.mymaincontent, #page-header, #page-content{
        margin: 1em 2em;
    }
    
    #page {
        margin-top: 40px;
    
        &.container-fluid {
            padding: 2rem;
        }
    }

}

@media (min-width: 992px){
    .conversationcontainer {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .conversationcontainer + .flex-column{
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
    
    .card.mymaincontent, #page-header, #page-content{
        margin: 1em 3em;
    }
    
    #page {
        margin-top: 40px;
    
        &.container-fluid {
            padding: 2rem;
        }
    }

}

.conversationcontainer + .flex-column{
    height: 60vh;
}
/* 
.flex-column{
    flex: 0 100 100%;
	max-width: 100%;
} */