#navbar_content_control{
    display: flex;
    flex-direction: row;
}

@media (max-width: 900px) {
    #navbar_content_control{
        display: none;
    }
    #navbar_content_control.show_navbar_tool{
        display: flex;
        position: fixed;
        top: 90px;
        right: 20px;
        flex-direction: column-reverse;
    }
}

