#navbar_content_control{
    display: flex;
    flex-direction: row;
}
#tool_navbar_control_content{
    display: none;
}

@media (max-width: 500px) {
    #navbar_content_control{
        display: none;
    }
    #navbar_content_control.show_navbar_tool{
        display: flex;
        position: fixed;
        top: 90px;
        right: 20px;
        flex-direction: column-reverse;

        background-color: white;
        border: 1px solid #6b5b5bdb;
        border-radius: 0.5em;
        align-items: center;
    }
    #tool_navbar_control_content{
        display: block;
    }
}

