.sitecolor-color-dark {
    //MODO OSCURO
    $color_primary: #161616;
    $color_one: #1f1f1f;
    $color_two: #1f1e1e;
    $color_three: #565656;
    $color_background: #121212;
    $text_one: #ffffff;
    $text_two: #e4e3e3;
    $success: #103c0c;
    $fail: #723535;
    $menu: #3c3c3c;
    $text_contrast: #ffffff;
    $text_contrast_2: #929292;
    $filter_navbrand: grayscale(1);
    
    background-color: $color_background !important;
    
    *{
        background-color: $color_one !important;
        color: $text_one !important;
    }

    //MODO TRITANOPIA
    /* $color_primary: #3b676e;
    $color_one: #f29ea8;
    $color_two: #a63733;
    $color_three: #eda0a4;
    $color_background: #f9e2ec;
    $text_one: #000000;
    $text_two: #ffffff;
    $text_table: #000000;
    $text_gold: #000000;
    $text_link: #000000;
    $filter_navbrand:  grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8); */

    //MODO PROTANOPIA
    /* $color_primary: #3f3f4d;
    $color_one: #f0edd8;
    $color_two: #7a7943;
    $color_three: #a5a491;
    $color_background: #f0efe7;
    $text_one: #000000;
    $text_two: #ffffff;
    $text_table: #000000;
    $text_gold: #000000;
    $text_link: #000000;
    $filter_navbrand: sepia(100%); */

    //MODO DEUTERANOPIA
    /* $color_primary: #444549;
    $color_one: #f0edd8;
    $color_two: #7a7943;
    $color_three: #a5a491;
    $color_background: #f0efe7;
    $text_one: #000000;
    $text_two: #ffffff;
    $text_table: #000000;
    $text_gold: #000000;
    $text_link: #000000;
    $filter_navbrand: sepia(100%); */

    @import "./themes.scss";
    

}