

.sitecolor-color-pro {
    
    //MODO PROTANOPIA
    $color_primary: #3f3f4d;
    $color_one: #f0edd8;
    $color_two: #7a7943;
    $color_three: #a5a491;
    $color_background: #f0efe7;
    $text_one: #000000;
    $text_two: #ffffff;
    $text_table: #000000;
    $text_gold: #000000;
    $text_link: #000000;
    $filter_navbrand: sepia(100%); 
    
    .btn{
        background-color: $color_two !important;
        color: $text_two !important;
    }

    h2, h1, .sectionname, .progress-indic-label{
        color: $text_one !important;
    }
    
    a{
        color: $text_one;
    }

    .menu-action-text, .dropdown-item.menu-action i, .popover-region i, 
    .popover-regionbar i, .dropdown-item a, .dropdown-item i,.custom-select,
    .badge.badge-info{
        color: $text_two !important;
    }
    
    

    .card{
        background-color: $color_three !important;
    }

    .activity, .sectionname{
        background-color: $color_three!important;
        span{
            color: $text_two !important;
        }
    }

    .pagination a {
        background-color: $color_one;
        color: $text_link;
    }

    th.header{
        color: $text_table;
    }

    td.cell, .site-name{
        color: $text_one;
    }
    
    .list-unstyled{
        li:hover{
            background-color: $color_two;
        }
    }

    #nav-drawer{
        background-color: $color_primary;
    }

    .drawer-toggle{
        background-color: $color_primary !important;
    }

    button, input.btn{
        background-color: $color_two !important;
    }

    select, .card-title a{
        color: $text_gold;
    }

    .filter-group{
        color: $text_one !important;
        background-color: $color_primary !important;
    }
    
    ul.section{
        background-color: transparent !important;
    }
    
    .tile.tile-clickable{
        background-color: $color_primary !important;
    }
    

    .card-body{
        background-color: transparent !important;
        border-radius: inherit;
        p{
            color: $text_two;
        }
        span{
            color: $text_two !important;

            h3{
                color: $text_two !important;
            }
        }
    }
    
    .gradereport-grader-table, .pagination{
        a{
            color: $text_two !important;
            background-color: $color_two !important;
            border-color: $color_two !important;
        }
    }
    
    .gradereport-grader-table th, table th{
        a{
            background-color: transparent !important;
            border-color: transparent !important;
        }
    }
    
    .navbar-brand.has-logo img{
        -webkit-filter: $filter_navbrand;
    }

    .mymaincontent > .card-body{
            background-color: transparent;
    }

    #region-main{
        background-color: transparent;
    }

    .navbar{
        background-color: $color_primary;
        button, .course-section a{
            background-color: $color_one !important;
            color: $text_one !important;
            border-color: $text_one !important;

        }
    }

    #page-wrapper{
        background-color: $color_three !important;
    }

    #block-region-content{
        background-color: transparent;
    }

    select {
        background-color: $color_primary !important;
    }

    .fp-navbar,
    .filemanager-container {
        background-color: $color_one;
    }

    .page-link{
        color: $text_one !important;
    }

    div.bg-white{
        background-color: $color_two !important;
    }

    input.form-control, ul.form-autocomplete-suggestions{
        background-color: $color_three;
        color: $text_one;
    }
    
    ul.form-autocomplete-suggestions li, .form-group label, .list-unstyled li, .dndupload-message, .fdescription {
        color: $text_one;
    }

    //Tablas
    .contentTableOverflow th {
        background-color: $color_primary !important;
        color: $text_two !important;
    }
    .contentTableOverflow th.column-itemname{
        color: $text_two;
    }
    .contentTableOverflow td{
        color: $text_table;
    }
    
    [data-region="blocks-column"]{
        background-color: $color_primary !important;
    }
    
    #sidepreopen-control{
        background-color: $color_three !important;
    }

    //dropdownmenu
    .dropdown-menu {
        background-color: $color_primary;

        a{
            color: $text_one;
        }
    }

    //message bar
    .message-app{
        background-color: $color_primary;
        p, h6{
            color: $text_table;
        }
        .list-group-item{
            background-color: $text_two;
        }
        .message p{
            color: black;
        }
        textarea{
            background-color: $color_one !important;
            color: $color_one;
        }
    }
    .container-fluid{
        background-color: $color_background;
        textarea{
            background-color: $color_one !important;
            color: $color_one;
        }
        .list-group-item{
            background-color: $color_one;
        }
    }


    //heder bank
    .cb-navbar{
        background-color: $color_primary !important;
        .cb-navbar-breadbrumb{
            background-color: $color_primary;
            color: $text_one;
        }
    }


    //up file 
    .moodle-dialogue-wrap{
        background-color: $color_primary;
        .closebutton{
            color: $text_one;
        }
    }


    //navbar 
    .nav-item, .nav-link i{
        color: $text_one;
    }

    //footer
    #top-footer{
        background-color: $color_three !important;
    }

    //
    .activity a{
        color: $text_one;
    }

    //tiles addon
    ul.tiles, .single-section{
        .main{
            background-color: $color_background !important;
        }
        li.tile{
            box-shadow: none !important;
            .tile-link{
                border-radius: inherit;
                background-color: $color_primary !important;
               
            }

        } 

    }
    .section.main.clearfix{
        background-color: $color_three !important;
    }
    
    .section > .activity{
        background-color: $color_primary !important;
    }

    .form-group{
        .form-control {
            background-color: $color_primary !important;
        }
    
        .editor_atto_toolbar{
            background-color: $color_one;
        }
    } 
    
    .buttonhidesec0{
        background-color: $color_one !important;
        color: $text_one !important;
    }
    
    .breadcrumb li::after{
        border-left-color: $color_one !important;
    }


    .popover-region{
        .popover-region-container, .popover-region-footer-container{
            background-color: $color_primary !important;
            color: $text_two !important;
        }
    }

    #accessibilitybar .bars {
        border-color: white;
        border: double;
    }
    

    #footer-contact{
        background-color: $color_three !important;
    }
    
    #page-navbar .breadcrumb li>* {
        background-color: $color_primary !important;
        border-color: $color_primary !important;
    }
    
    .input-group .input-group-append .btn,.input-group .input-group-prepend:first-child .input-group-text,.input-group .input-group-prepend:last-child .input-group-text{
        background-color: $color_two !important;
    }
    
    .icon{
        color:$text_one;
    }
    
    .top-footer h4{
        color:$text_one;
    }
    
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: $color_two;
        background-color: $color_primary;
    }
    
    .top-footer .contact ul li a, .top-footer .contact ul li i{
        color: $text_one;
    }
}
