

.sitecolor-color-tri {
    //MODO TRITANOPIA
    $color_primary: #3b676e;
    $color_one: #f29ea8;
    $color_two: #804947;
    $color_three: #eda0a4;
    $color_background: #f9e2ec;
    $text_one: #000000;
    $text_two: #ffffff;
    $text_table: #000000;
    $text_gold: #000000;
    $text_link: #000000;
    $text_contrast: #3b3b3b;
    $filter_navbrand:  grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    
    @import "./themes.scss";
}

