

.sitecolor-color-tri1 {
    //MODO TRITANOPIA
    $color_primary: #525089;
    $color_one: #ebeff3;
    $color_two: #dde1e6;
    $color_three: #8d8ac2;
    $color_background: #b9bcc0;
    $text_one: #000000;
    $text_two: #ffffff;
    $success: #00ac06;
    $fail: #900202;
    $menu: #1b1b1b;
    $text_contrast: #ffffff;
    $text_contrast_2: #6e6e6e;
    $filter_navbrand: brightness(97%) contrast(92%) hue-rotate(11deg) saturate(94%) grayscale(7%);
    
    background-color: $color_background !important;
    *{
        background-color: $color_one !important;
    }
    
    
    @import "./themes.scss";
}

