

.sitecolor-color-pro {
    
    //MODO PROTANOPIA
    $color_primary: #a9a9b2;
    $color_one: #f0edd8;
    $color_two: #b8b66a;
    $color_three: #fbf698;
    $color_background: #f0efe7;
    $text_one: #000000;
    $text_two: #ffffff;
    $text_table: #000000;
    $text_gold: #000000;
    $text_link: #000000;
    $text_contrast: #3b3b3b;
    $filter_navbrand: sepia(100%); 
    
    background-color: $color_background !important;
    
    @import "./themes.scss";

}