

.sitecolor-color-deu {

    //MODO DEUTERANOPIA
    $color_primary: #00397e;
    $color_one: #fefdf9;
    $color_two: #faf9f5;
    $color_three: #ff9839;
    $color_background: #e9f3f5;
    $text_one: #000000;
    $text_two: #ffffff;
    $success: #005f11;
    $fail: #ae0f00;
    $menu: #1b1b1b;
    $text_contrast: #ffffff;
    $text_contrast_2: #6e6e6e;
    $filter_navbrand: brightness(96%) contrast(85%) saturate(164%);
    
    background-color: $color_background !important;
    *{
        background-color: $color_one !important;
    }
    
    .navbar-brand.has-logo img, div>.img-fluid, img{
        background-color: transparent !important;
        -webkit-filter: $filter_navbrand;
    }
    
    @import "./themes.scss";
}