

.sitecolor-color-tri {
    //MODO TRITANOPIA
    $color_primary: #314872;
    $color_one: #fefcff;
    $color_two: #f9f9f9;
    $color_three: #ae834c;
    $color_background: #f0f4f7;
    $text_one: #000000;
    $text_two: #ffffff;
    $success: #003602;
    $fail: #5a0e00;
    $menu: #1b1b1b;
    $text_contrast: #ffffff;
    $text_contrast_2: #6e6e6e;
    $filter_navbrand: brightness(97%) contrast(92%) hue-rotate(11deg) saturate(94%) grayscale(7%);
    
    background-color: $color_background !important;
    *{
        background-color: $color_one !important;
    }
    
    .navbar-brand.has-logo img, div>.img-fluid, img{
        background-color: transparent !important;
        -webkit-filter: $filter_navbrand;
    }
    
    @import "./themes.scss";
}

