/* Dropdown Button */
.dropbtn {
    background-color: #ffffff!important;
    color: #003C71!important;
    border: 2px solid #245885!important;
    padding: 0.3em 2.2em;
    font-weight: 700;
    transition: all 0.5s;
    
    &:hover{
      background-color: #003C71 !important;
      color: #ffffff !important;
      border-color: #003C71 !important;
      transition: all 0.5s;
    }
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 1; 
  padding-top: 0.3em;
  a {
    display: block;
    transition-duration: 0.5s;
    border: 0;
    border-left: solid #f29450 7px;
    background-color: #eef5f9;
    color: #003C71;
    
    &:hover {
      background-color: #ddd
      }
    }
    
  .nav-item{
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #eef5f9;
  }
}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}