#personalizarDashboard{
    display: none;
    padding: .2rem;
    height: 30px;
    position: fixed;
    right: 1vw;
    margin-top: calc(#{$navbar-height});
    .breadcrumb-button{
      display: flex;
      flex-direction: column;
    }
}