#page-wrapper , #page, #page-content,#page-content *, #page-header,#page-header *,#accessibilitybar .container_accessibilitybar, #accessibilitybar{
    background-color: transparent !important;
}

.navbar-brand.has-logo img, div>.img-fluid{
    background-color: transparent !important;
    -webkit-filter: $filter_navbrand;
}



#nav-drawer{
    background-color: $color_primary !important;
    *{
        background-color: $color_primary !important;
    }
}
.top-footer {
    background-color: $color_three !important;
    *{
        background-color: $color_three !important;
    }
}

#page .card{
    background-color: $color_one !important;
    *{
        background-color: transparent !important;
    }
}

#page .card.card3, #page .activity, #page .tile.tile-clickable{
    background-color: $color_two !important;
    border-color: $color_three !important;
    *{
        background-color: transparent !important;
    }
    &:hover{
        background-color: $color_background !important;
        color: $text_two !important;
        a{
            background-color: transparent !important;
        }
    }
}


.itemMenuAdministrador{
    a{
        &:hover{
            background-color: $color_background !important;
        }
    }
}

.navbar, #navbar_content_control {
    background-color: $color_one !important;
    * {
        background-color: $color_one !important;
    }
}

#page .btn, .btn, .btn.btn-link{
    background-color: $color_primary !important;
    color: $text_two !important;
    *, i.icon, span{
        background-color: transparent !important;
        color: $text_two !important;
    }
    &:hover{
        background-color: $color_two !important;
        color: $text_one !important;
        *, i.icon, span{
            color: $text_one !important;
        }
    }
}
.btn.btn-link.btn-icon.emoji-button{
    background-color: transparent !important;
    box-shadow: none !important;
} 

.btn.btnMenuAdministrador, .course-section>a{
    border-color: $color_primary !important;
    color: $text_two !important;
    *{
        background-color: transparent !important;
    }
    &:hover{
        color: $text_one !important;
    }
}

.icon-no-margin.category-button i{
    color: $text_one !important;
}

.icon-no-margin.category-button.selected{
    background-color: $color_primary !important;
    color: $text_two !important;
    i{
        color: $text_two !important;
    }
}

.popover-region-toggle,.popover-regionbar-toggle, .popover-regionbar.allvisible{
    height: 100%;
    .nav-item{
        height: 100%;
    }
}

.modal-backdrop.fade.in{
    background-color:#000 !important;
}

#page .icon, #page i{
    color: $text_one !important;
}

#page .section.main.moveablesection.state-visible{
    background-color: $color_one !important;
}

.message-app{
    background-color: $color_background !important;
    *{
        background-color: $color_background !important;
    }
}

div.message{
    background-color: $color_one !important;
    *{
        background-color: transparent !important;
        border-bottom-color: $color_one !important;
    }
}

#page-content .list-unstyled li{
    &:hover {
        background-color: $color_three !important;
        a{
            background-color: $color_three !important;
            color: $text_one !important;
        }
    }
}

#page-navbar .breadcrumb li {
    & > *{
        background-color: $color_primary !important;
        border-color: $color_primary !important;
    }
    
    &:after {
        border-left-color: $color_one !important;
    }
    &:before {
        content: '';
        padding: 0;
    }
}

#page table{
    border-color: $text_one !important;
}

#page .dropdown-menu{
    background-color: $color_one !important;
}



.course-section li .list-group-item{
    background-color: $color_primary !important;
    *{
        background-color: transparent !important;
        color: $text_two !important;
    }
}

.course-section li .list-group-item.active{
    background-color: $color_three !important;
    *{
        color: $text_one !important;
    }
}

.edit-btn.btn-success {
    color: white!important;
    background-color: $success!important;
    transition: all 1s;
    &:hover{
        background-color: $color_primary !important;
    }
}

.edit-btn.btn-danger {
    color: white!important;
    background-color: $fail !important;
    transition: all 1s;
    &:hover{
        background-color: $color_primary !important;
    }
}

.dropdown-item{
    color: $text_one !important;
    &:hover{
        color: $text_contrast !important;
    }
}