{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/accessibilitybar

    Accessibility toolbar template

    Example context (json): {}
}}
<div id="accessibilitybar" >
    <div class="container_accessibilitybar">
            
        <div class="bars">
            <div class="lang-menu">
                {{{ output.render_lang_menu }}}
            </div>
            
            <span><b>{{#str}}accessibilitysitecolor, theme_moove{{/str}}</b></span>
            <div class="sitecolor">
                
                <ul>
                    <li><a class="btn btn-default" data-action="reset" title="{{#str}}accessibilityresetsitecolor, theme_moove{{/str}}" id="sitecolor_color1">Default</a></li>
                    <li><a class="btn btn-default" data-action="sitecolor-color-2" title="{{#str}}accessibilitysitecolor2, theme_moove{{/str}}" id="sitecolor_color2">A</a></li>
                    <li><a class="btn btn-default" data-action="sitecolor-color-3" title="{{#str}}accessibilitysitecolor3, theme_moove{{/str}}" id="sitecolor_color3">A</a></li>
                    <li><a class="btn btn-default" data-action="sitecolor-color-4" title="{{#str}}accessibilitysitecolor4, theme_moove{{/str}}" id="sitecolor_color4">A</a></li>
                </ul>
            </div>

            <span><b>Fuente</b></span>
            <div class="sitefont">
                <ul>
                    <li><a class="btn btn-default" data-action="default" title="{{#str}}accessibilityresetfont, theme_moove{{/str}}" id="fontsite_default">Default</a></li>
                    <li><a class="btn btn-default" data-action="odafont" title="{{#str}}accessibilityresetfont, theme_moove{{/str}}" id="fontsite_odafont">Dislexic</a></li>
                </ul>
            </div>

            <span><b>{{#str}}accessibilityfontsize, theme_moove{{/str}}</b></span>
            <div class="fontsize">
                <ul>
                    <li><a class="btn btn-default" data-action="decrease" title="{{#str}}accessibilitydecreasefont, theme_moove{{/str}}" id="fontsize_dec">A-</a></li>
                    <li><a class="btn btn-default" data-action="reset" title="{{#str}}accessibilityresetfont, theme_moove{{/str}}" id="fontsize_reset">Default</a></li>
                    <li><a class="btn btn-default" data-action="increase" title="{{#str}}accessibilityincreasefont, theme_moove{{/str}}" id="fontsize_inc">A+</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>