<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn btn btnMenuAdministrador">Administrador</button>
  <div id="myDropdown" class="dropdown-content">
    <div class="teacherdash nav-item nav-link itemMenuAdministrador">
        <a role="button" data-toggle="modal" class="fhs-tooltip btnCircles" data-target="#exampleModal"> Ajustes de curso </a>
    </div>
    <div class="siteadminlink nav-item nav-link itemMenuAdministrador">
        <a href="../admin/search.php" data-tooltip="tooltip" data-placement= "bottom" title="{{{siteadmintitle}}}" class="fhs-tooltip btnCircles"> Administrador </a>
    </div>
    <div class="nav-item nav-link itemMenuAdministrador" id="editButtonItem">
        {{{ output.edit_button_fhs }}}
    </div>    
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {{> theme_ecampus/modalHelp }}
  </div>
