<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn btn btnMenuAdministrador">Administrador2</button>
  <div id="myDropdown" class="dropdown-content">
    <div class="nav-item nav-link itemMenuAdministrador">
        {{{output.link_to_bancoPreguntas}}}
        <a href="#">Restaurar</a>
    </div> 
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {{{output.modalHelp_links}}}
  </div>
