{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ecampus/footer

    Footer template

    Example context (json): {}
}}

<div id="" class="top-footer">
  <div class="container-fluid" id="footer-contact">
    <div class="row justify-content-center">
        <div class="col-md-5 contact justify-content-center">
            <h4>Universidad Centroamericana José Simeón Cañas</h4>
            <ul class="list-group list-group-horizontal">
                {{#website}} 
                    <li>
                        <a href="{{{website}}}" target="_blank"><i class="fi-rr-world"></i></a>
                    </li>
                {{/website}}
                
                    <li>
                        <a href="https://goo.gl/maps/PDn7GnmWRT4wHffW7" target="_blank"><i class="slicon-map"></i></a>                       
                    </li>
                    <li>
                        <a href="" target="_blank"><i class="slicon-clock"></i></a>                       
                    </li>
                    {{#mobile}}
                    <!--<li>
                        <i class="slicon-phone"></i>
                        <a href="tel:{{{mobile}}}" target="_blank">{{{mobile}}}</a>
                    </li>-->
                {{/mobile}}
                    <li>
                        <a href="https://www.facebook.com/UCA.ElSalvador" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>                       
                    </li>
                    <li>
                        <a href="https://twitter.com/UCA_ES" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>                       
                    </li>
                    <li>
                        <a href="https://www.instagram.com/uca_elsalvador/?hl=es" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>                       
                    </li>
                    <li>
                        <a href="{{{telegram}}}" target="_blank"><i class="fa fa-mobile"></i></a>
                    </li>
                    
            </ul>
        </div>
        
        <!--<div class="col-md-2 contact">
          
          {{!{{{ output.standard_footer_html }}

        </div>-->
    </div>
  </div>
</div>


{{{ output.standard_end_of_body_html }}}
