{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_ecampus/frontpage_numbers

    Blocks drawer template

    Example context (json): {
        "numbersfrontpage": true,
        "numberusers": "123",
        "numbercourses": "123",
        "numberactivities": "123"
    }
}}
{{#numbersfrontpage}}
    <div class="container-fluid frontpage-numbers">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h2>{{#str}} frontpagenumbersome, theme_ecampus {{/str}} {{#str}} frontpagenumbernumbers, theme_ecampus {{/str}}</h2>
            </div>
            <div class="d-flex justify-content-center w-100 flexCardNumbers">
                <div class="number card bg-ligth p-3 m-1 w-25 cardNumbers">
                    <span class="fa fa-user-circle fa-4x  text-dark"></span>
                    <h3 class=" text-dark">{{{ numberusers }}}</h3>
                    <hr />
                    <p class=" text-dark">{{#str}} frontpagenumberusers, theme_ecampus {{/str}}</p>
                </div>
    
                <div class="number card bg-light p-3 m-1 w-25 cardNumbers">
                    <span class="fa fa-graduation-cap fa-4x  text-dark"></span>
                    <h3 class=" text-dark">{{{ numbercourses }}}</h3>
                    <hr />
                    <p class=" text-dark">{{#str}} frontpagenumbercourses, theme_ecampus {{/str}}</p>
                </div>
    
                <div class="number card bg-light p-3 m-1 w-25 cardNumbers">
                    <span class="fa fa-puzzle-piece fa-4x  text-dark"></span>
                    <h3 class=" text-dark">{{{ numberactivities }}}</h3>
                    <hr />
                    <p class=" text-dark">{{#str}} frontpagenumberactivities, theme_ecampus {{/str}}</p>
                </div>
            </div>
        </div>
    </div>
{{/numbersfrontpage}}