<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:white";>Ajustes de portada <i class="fi fi-rr-e-learning"></i></h5>

      </div>
      <div class="modal-body modalQuestion">

      <div class="row justify-content-start">
        <div class="col-md-6">
            <ul class="list-unstyled">
            <!--<li><a id="activarEdicion" href={{activarEdicion}}>Activar edición</a></li>-->
            <li><a id="editarAjustes" href={{editarAjustes}}>Editar ajustes</a></li>
            <li><a id="filtros" href={{filtros}}>Filtros</a></li>
            <li><a id="copiaRespaldo" href={{respaldo}}>Copia de respaldo</a></li>
            <li><a id="restaurar" href={{restaurar}}>Restaurar</a></li>
            <hr style="border: 0.1px solid gray";>

            <h5 style="color:white";>Reportes <i class="fi fi-rr-mobile"></i></h5>        
            <li><a id="desgloseCompetencia" href={{desglose}}>Desglose de competencia</a></li>
            <li><a id="bit" href={{bitacora}}>Bitácoras</a></li>
            <li><a id="bitVivo" href={{bitacoraLive}}>Bitácoras en vivo</a></li>
            <li><a id="repAct" href={{reporteActividad}}>Reporte de Actividad</a></li>
            <li><a id="partCur" href={{participacionCurso}}>Participación en el curso</a></li>
            <li><a id="monEvt" href={{reglasMonitorioEvento}}>Reglas para monitoreo de eventos</a></li>
            <hr style="border: 0.1px solid gray";>

        </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-unstyled">

            <h5><a id="banPreg" href={{bancoPreguntas}} style="color:white";>Banco de preguntas <i class="fi fi-rr-comment-alt"></i></a></h5>
            <li><a id="preg" href={{bancoPreguntas}}>Preguntas</a></li>
            <li><a id="catg" href={{categorias}}>Categorías</a></li>
            <li><a id="impt" href={{importar}}>Importar</a></li>
            <li><a id="expt" href={{exportar}}>Exportar</a></li>
            <hr style="border: 0.1px solid gray";>

            <h5 style="color:white";>Usuarios <i class="fi fi-rr-users"></i></h5>
            <li><a id="gps" href={{grupos}}>Grupos</a></li>
            <hr style="border: 0.1px solid gray";>

            <h5><a id="permisos" href={{permisos}} style="color:white";>Permisos <i class="fi fi-rr-lock"></i></a></h5>
            <li><a id="rolAsig" href={{rolesAsignados}}>Roles asignados</a></li>
            <li><a id="compPerm" href={{permisosComprobar}}>Comprobar los permisos</a></li>

        </ul>
        </div>
      </div>

        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
</div> 