<div>
    <div class="popover-regionbar" id="tool_navbar_control_content">
        <span id="navbartoolsmodal">
        </span>
        <div class="popover-regionbar-toggle nav-link icon-no-margin">
            <li class="nav-item">
                <span id="tool_navbar_control">
                    <i title="Herramientas"
                        class="fi fi-rr-settings-sliders">
                    </i>
                </span>
            </li>
        </div>
    </div>
</div>