<div id="personalizarDashboard" class="oculto">
    <div class="container_personalizarDashboard">
        <li>
            {{#canviewadmininfos}}
                {{>theme_ecampus/mydashboard_admin}}
            {{/canviewadmininfos}}
        </li>
    </div>
</div>