        <div id="personalizarDashboard">
                        <li>
            {{#canviewadmininfos}}
                {{>theme_moove/mydashboard_admin}}
            {{/canviewadmininfos}}
        </li>
        </div>